html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/food.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 260px;
  text-align: center;
  margin: 0 auto;
}

#page-statement {
  font-size: 74px;
  font-family: "Atakana Script", serif;
  padding: 50px;
}

.nav-link {
  font-size: 24px;
  font-family: "Arial";
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid black;
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 80px;
  text-align: center;
}

#homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 45%;
  height: 600px;
  overflow: hidden;
  margin: 50px auto;
}

#homepage-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
